.sec_01 {
  nav {
    height: 50px;
    width: 100%;
    padding: 15px 30px;
    background-color: rgb(227, 224, 224);
    font-family: roboto;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    border-bottom: solid 3px rgb(83, 83, 83);
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: rgb(125, 4, 4);
        cursor: pointer;
      }
    }
  }
}
.sec_02 {
  display: flex;
  top: 50px;
  position: fixed;
  flex-direction: column;
  width: 200px;
  border: solid 1.5px;
  left: 1px;
  button {
    height: 34px;
    font-size: 16px;
    background-color: rgb(246, 238, 228);
    border: solid 0.5px;
    &:hover {
      cursor: pointer;
      background-color: rgb(242, 224, 201);
    }
  }
}
