.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: roboto;
  font-size: 18px;
  margin-top: 40px;
  color: #191970;
}

.sec_01 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inter;


  div {
    margin-top: 7px;
    display: flex;
    gap: 5px;
    p {
      font-size: roboto;
      font-weight: 550;
      font-size: 17px;
    }
    span {
      color: rgb(62, 61, 61);
      text-transform: capitalize;
    }
  }
}

.sec_02 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inter;
  input {
    height: 45px;
    margin-top: 5px;
    background-color: rgb(246, 242, 242);
    border-radius: 7px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: solid 1px;
  }
}
.sec_03 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inter;
  width: 100%;
  aside {
    position: relative;
    border: solid 1px;
    height: 44px;
    background-color: rgb(246, 242, 242);
    border-radius: 7px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    div {
      border: solid 1px;
      position: absolute;
      top: 100%;
      left: 3px;
      background-color: white;
      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px rgb(144, 102, 102);

        width: 250px;
        padding: 10px 5px;
      }
    }
    p {
      text-align: center;
      width: 70%;
      font-size: 16px;
      text-transform: uppercase;
      word-spacing: 2px;
      letter-spacing: 0.2px;
    }
    span {
      position: absolute;
      right: 3%;
      display: flex;
      align-items: center;
      font-size: 25px;
    }
  }
}
.sec_04 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  font-family: inter;
  background-color: #dfdff5;
  div {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
}

.sec_05 {
  margin-top: 40px;
}

